* {
	border: 1px solid red !important;
}

html, body {
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

.app-content {
	height: 100%;
}

.app-title {
	text-align: center;
}

.locations {
	list-style-type: none;
}

#map {
	height: 100%;
}

/* The side navigation menu from https://www.w3schools.com/howto/howto_js_off-canvas.asp
 * & Udacity's Responsive Patterns course
 */
.off-canvas-menu {
	height: 100%;
	width: 300px;
	/* Stay on Top */
	z-index: 1;
    position: absolute; 
	/* This trasform moves the drawer off canvas. */
	-webkit-transform: translate(-300px, 0);
	transform: translate(-300px, 0);
	/* Animate the drawer. */
	transition: transform 0.3s ease;
    
}

.off-canvas-menu.open {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}


