/** {
	border: 1px solid red !important;
}*/

html, body {
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

.app-content {
	height: 100%;
}

.title-row {
	text-align: center;
	background-color: #17a2B8;
	/*text-transform: uppercase;*/
}

.app-title {
	color: #edf2f7;
	font-size: 1.3rem;
	margin-top: .5rem;
}

.menu-icon {
	border-color: #e9ecef;
	background-color: #138496;
}

.locations {
	list-style-type: none;
}

#map {
	height: 100%;
}

.map-error {
	color: red;
	font-size: 1.5rem;
	text-align: center;
}

.info-content {
	padding: 10px 0;
}

.info-error {
	color: red;
}

/* The side navigation menu from https://www.w3schools.com/howto/howto_js_off-canvas.asp
 * & Udacity's Responsive Patterns course
 */
.off-canvas-menu {
	height: 100%;
	width: 300px;
	/* Stay on Top */
	z-index: 1;
    position: absolute; 
	/* This trasform moves the drawer off canvas. */
	-webkit-transform: translate(-300px, 0);
	transform: translate(-300px, 0);
	/* Animate the drawer. */
	transition: transform 0.1s ease;
}

.off-canvas-menu.open {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

@media (min-width: 576px) {
	.app-title {
		font-size: 1.5rem;
	}
}

/* Display fixed menu for larger screens */

@media (min-width: 992px) {
	.off-canvas-menu {
		box-sizing: border-box;
		position: static;
		display: block;
		transform: translate(0, 0);
		background-color: #d4f2f7;  
	}

	.menu-icon {
		display: none;
	}

	.app-title {
		font-size: 2.5rem;
	}
}


