/** {
	border: 1px solid red !important;
}*/

html, body {
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

.app-content {
	height: 100%;
}

.app-title {
	text-align: center;
	padding-top: 10px;
}

.locations {
	list-style-type: none;
}

#map {
	height: 100%;
}